.info{
    background-color: darkblue;
    width: 10px;
    height: 20px;
    padding-left: 2px;
    display: inline;
    padding-right: 2px;
    float: right;
}

.hover-effect:hover{
    // background-color: red;
    border:5px solid #3B6EC0;
}
tr:hover td {

    box-shadow: 0 4px 0 0 #689cf0;
}

th:first-child{
    border-top-left-radius: 15px ;
}

.table-border{
    border-top-left-radius: 15px ;
    height: 1000px;
    
}

:host {
    ::ng-deep {
        .p-dialog-header {
          justify-content: flex-end;
          padding: 0.5rem;
          background-color: white;
        }
        .p-dialog .p-dialog-header {
            border-bottom: 0.5px solid #e6e5e5;
        }
        .p-datatable-scrollable-header{
            background-color: transparent;
        }
  
  }  
}